/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* global */
p {
    font-family: sans-serif;
    color: #e0e0e0;
    font-size: 16px;
}
.button {
    background-color: #e76f51;
}
/* header */
header {
    background: #264653;
}

.title {
    font-size: 48px;
}

/* featured bikes*/

.gray-img {
    filter: grayscale(100%);
}
