/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* global */
.button {
    background-color: #e76f51;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

/* header */
header {
    background: #264653;
}
/* hero-section */
.hero-section p {
    font-family: sans-serif;
    color: #e0e0e0;
}

/* featured bikes*/
.gray-img {
    filter: grayscale(100%);
}

/* clients */
.clients p {
    color: #6c6c6c;
}
.star-icon {
    color: #e77c40;
}

/* FAQ section */
.accordion-text {
    color: #7e848c;
}
